* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
/* here is i and svg tags no need to click on icon it behaves like a button */
i,
svg {
  pointer-events: none;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgb(127, 226, 218);
}
.snare-pad {
  background: rgb(205, 105, 252);
}
.hihat-pad {
  background: rgb(224, 134, 131);
}
.kick-pad.active {
  background: rgb(94, 192, 216);
}
.snare-pad.active {
  background: rgb(133, 65, 165);
}
.hihat-pad.active {
  background: rgb(180, 74, 71);
}
.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  padding: 1rem;
  border: none;
  background: gray;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}
select {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
